SAC/SAC/Connected Services/ServiceSGP/SERVICE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gendarmeria.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gendarmeria.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gendarmeria.org/">
      <s:element name="Uniformado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniformadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Persona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Unidades_OU_like_Descrip_nombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Unidades_OU_like_Descrip_nombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Unidades_OU_like_Descrip_nombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNIDADES_OT">
        <s:complexType />
      </s:element>
      <s:element name="UNIDADES_OTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNIDADES_OTResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GRADOS_OT">
        <s:complexType />
      </s:element>
      <s:element name="GRADOS_OTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GRADOS_OTResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNIDADES_COBRO_OT">
        <s:complexType />
      </s:element>
      <s:element name="UNIDADES_COBRO_OTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNIDADES_COBRO_OTResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Unidades_OU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod_Uni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Unidades_OUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Unidades_OUResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Unidades_OU_POR_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod_Uni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Unidades_OU_POR_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Unidades_OU_POR_IDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonalSeguro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonalSeguroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonalSeguroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadocompletoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniformadocompletoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadoConCivil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadoConCivilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniformadoConCivilResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strApenom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uniformadocompleto2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uniformadocompleto_CEResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CE_DNI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CE_DNIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uniformadocompleto_CE_DNIResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_DOCUMENTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DOCUMENTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_DOCUMENTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uniformadocompleto_DOCUMENTOResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CADENA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CADENA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CADENAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uniformadocompleto_CADENAResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CADENA_COMPLETO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CADENA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CADENA_COMPLETOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uniformadocompleto_CADENA_COMPLETOResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CADENA_DNI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CADENA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uniformadocompleto_CADENA_DNIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uniformadocompleto_CADENA_DNIResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadocompletoLikeApeNom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strApenom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadocompletoLikeApeNomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniformadocompletoLikeApeNomResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_HC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_HCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_HCResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Foto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FotoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadosDependientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadosDependientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniformadosDependientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadosDependientesRecursivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadosDependientesRecursivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniformadosDependientesRecursivoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadosDependeDe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dni2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniformadosDependeDeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniformadosDependeDeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UniformadoSoapIn">
    <wsdl:part name="parameters" element="tns:Uniformado" />
  </wsdl:message>
  <wsdl:message name="UniformadoSoapOut">
    <wsdl:part name="parameters" element="tns:UniformadoResponse" />
  </wsdl:message>
  <wsdl:message name="PersonaSoapIn">
    <wsdl:part name="parameters" element="tns:Persona" />
  </wsdl:message>
  <wsdl:message name="PersonaSoapOut">
    <wsdl:part name="parameters" element="tns:PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_like_Descrip_nombreSoapIn">
    <wsdl:part name="parameters" element="tns:Unidades_OU_like_Descrip_nombre" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_like_Descrip_nombreSoapOut">
    <wsdl:part name="parameters" element="tns:Unidades_OU_like_Descrip_nombreResponse" />
  </wsdl:message>
  <wsdl:message name="UNIDADES_OTSoapIn">
    <wsdl:part name="parameters" element="tns:UNIDADES_OT" />
  </wsdl:message>
  <wsdl:message name="UNIDADES_OTSoapOut">
    <wsdl:part name="parameters" element="tns:UNIDADES_OTResponse" />
  </wsdl:message>
  <wsdl:message name="GRADOS_OTSoapIn">
    <wsdl:part name="parameters" element="tns:GRADOS_OT" />
  </wsdl:message>
  <wsdl:message name="GRADOS_OTSoapOut">
    <wsdl:part name="parameters" element="tns:GRADOS_OTResponse" />
  </wsdl:message>
  <wsdl:message name="UNIDADES_COBRO_OTSoapIn">
    <wsdl:part name="parameters" element="tns:UNIDADES_COBRO_OT" />
  </wsdl:message>
  <wsdl:message name="UNIDADES_COBRO_OTSoapOut">
    <wsdl:part name="parameters" element="tns:UNIDADES_COBRO_OTResponse" />
  </wsdl:message>
  <wsdl:message name="Unidades_OUSoapIn">
    <wsdl:part name="parameters" element="tns:Unidades_OU" />
  </wsdl:message>
  <wsdl:message name="Unidades_OUSoapOut">
    <wsdl:part name="parameters" element="tns:Unidades_OUResponse" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_POR_IDSoapIn">
    <wsdl:part name="parameters" element="tns:Unidades_OU_POR_ID" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_POR_IDSoapOut">
    <wsdl:part name="parameters" element="tns:Unidades_OU_POR_IDResponse" />
  </wsdl:message>
  <wsdl:message name="PersonalSeguroSoapIn">
    <wsdl:part name="parameters" element="tns:PersonalSeguro" />
  </wsdl:message>
  <wsdl:message name="PersonalSeguroSoapOut">
    <wsdl:part name="parameters" element="tns:PersonalSeguroResponse" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoSoapIn">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoSoapOut">
    <wsdl:part name="parameters" element="tns:UniformadocompletoResponse" />
  </wsdl:message>
  <wsdl:message name="UniformadoConCivilSoapIn">
    <wsdl:part name="parameters" element="tns:UniformadoConCivil" />
  </wsdl:message>
  <wsdl:message name="UniformadoConCivilSoapOut">
    <wsdl:part name="parameters" element="tns:UniformadoConCivilResponse" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto2SoapIn">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto2" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto2SoapOut">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto2Response" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CESoapIn">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CE" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CESoapOut">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CEResponse" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CE_DNISoapIn">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CE_DNI" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CE_DNISoapOut">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CE_DNIResponse" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_DOCUMENTOSoapIn">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_DOCUMENTO" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_DOCUMENTOSoapOut">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_DOCUMENTOResponse" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENASoapIn">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CADENA" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENASoapOut">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CADENAResponse" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_COMPLETOSoapIn">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CADENA_COMPLETO" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_COMPLETOSoapOut">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CADENA_COMPLETOResponse" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_DNISoapIn">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CADENA_DNI" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_DNISoapOut">
    <wsdl:part name="parameters" element="tns:Uniformadocompleto_CADENA_DNIResponse" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoLikeApeNomSoapIn">
    <wsdl:part name="parameters" element="tns:UniformadocompletoLikeApeNom" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoLikeApeNomSoapOut">
    <wsdl:part name="parameters" element="tns:UniformadocompletoLikeApeNomResponse" />
  </wsdl:message>
  <wsdl:message name="WS_HCSoapIn">
    <wsdl:part name="parameters" element="tns:WS_HC" />
  </wsdl:message>
  <wsdl:message name="WS_HCSoapOut">
    <wsdl:part name="parameters" element="tns:WS_HCResponse" />
  </wsdl:message>
  <wsdl:message name="FotoSoapIn">
    <wsdl:part name="parameters" element="tns:Foto" />
  </wsdl:message>
  <wsdl:message name="FotoSoapOut">
    <wsdl:part name="parameters" element="tns:FotoResponse" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesSoapIn">
    <wsdl:part name="parameters" element="tns:UniformadosDependientes" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesSoapOut">
    <wsdl:part name="parameters" element="tns:UniformadosDependientesResponse" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesRecursivoSoapIn">
    <wsdl:part name="parameters" element="tns:UniformadosDependientesRecursivo" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesRecursivoSoapOut">
    <wsdl:part name="parameters" element="tns:UniformadosDependientesRecursivoResponse" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependeDeSoapIn">
    <wsdl:part name="parameters" element="tns:UniformadosDependeDe" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependeDeSoapOut">
    <wsdl:part name="parameters" element="tns:UniformadosDependeDeResponse" />
  </wsdl:message>
  <wsdl:message name="UniformadoHttpGetIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="PersonaHttpGetIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PersonaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_like_Descrip_nombreHttpGetIn">
    <wsdl:part name="p1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_like_Descrip_nombreHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UNIDADES_OTHttpGetIn" />
  <wsdl:message name="UNIDADES_OTHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GRADOS_OTHttpGetIn" />
  <wsdl:message name="GRADOS_OTHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UNIDADES_COBRO_OTHttpGetIn" />
  <wsdl:message name="UNIDADES_COBRO_OTHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Unidades_OUHttpGetIn">
    <wsdl:part name="Cod_Uni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Unidades_OUHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_POR_IDHttpGetIn">
    <wsdl:part name="Cod_Uni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_POR_IDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="PersonalSeguroHttpGetIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PersonalSeguroHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoHttpGetIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadoConCivilHttpGetIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadoConCivilHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto2HttpGetIn">
    <wsdl:part name="strApenom" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto2HttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CEHttpGetIn">
    <wsdl:part name="CE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CEHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CE_DNIHttpGetIn">
    <wsdl:part name="CE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CE_DNIHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_DOCUMENTOHttpGetIn">
    <wsdl:part name="DOCUMENTO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_DOCUMENTOHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENAHttpGetIn">
    <wsdl:part name="CADENA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENAHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_COMPLETOHttpGetIn">
    <wsdl:part name="CADENA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_COMPLETOHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_DNIHttpGetIn">
    <wsdl:part name="CADENA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_DNIHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoLikeApeNomHttpGetIn">
    <wsdl:part name="strApenom" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoLikeApeNomHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WS_HCHttpGetIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_HCHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="FotoHttpGetIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FotoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesHttpGetIn">
    <wsdl:part name="dni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesRecursivoHttpGetIn">
    <wsdl:part name="dni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesRecursivoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependeDeHttpGetIn">
    <wsdl:part name="dni" type="s:string" />
    <wsdl:part name="dni2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependeDeHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadoHttpPostIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="PersonaHttpPostIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PersonaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_like_Descrip_nombreHttpPostIn">
    <wsdl:part name="p1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_like_Descrip_nombreHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UNIDADES_OTHttpPostIn" />
  <wsdl:message name="UNIDADES_OTHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GRADOS_OTHttpPostIn" />
  <wsdl:message name="GRADOS_OTHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UNIDADES_COBRO_OTHttpPostIn" />
  <wsdl:message name="UNIDADES_COBRO_OTHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Unidades_OUHttpPostIn">
    <wsdl:part name="Cod_Uni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Unidades_OUHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_POR_IDHttpPostIn">
    <wsdl:part name="Cod_Uni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Unidades_OU_POR_IDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="PersonalSeguroHttpPostIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PersonalSeguroHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoHttpPostIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadoConCivilHttpPostIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadoConCivilHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto2HttpPostIn">
    <wsdl:part name="strApenom" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto2HttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CEHttpPostIn">
    <wsdl:part name="CE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CEHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CE_DNIHttpPostIn">
    <wsdl:part name="CE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CE_DNIHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_DOCUMENTOHttpPostIn">
    <wsdl:part name="DOCUMENTO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_DOCUMENTOHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENAHttpPostIn">
    <wsdl:part name="CADENA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENAHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_COMPLETOHttpPostIn">
    <wsdl:part name="CADENA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_COMPLETOHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_DNIHttpPostIn">
    <wsdl:part name="CADENA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Uniformadocompleto_CADENA_DNIHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoLikeApeNomHttpPostIn">
    <wsdl:part name="strApenom" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadocompletoLikeApeNomHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WS_HCHttpPostIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_HCHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="FotoHttpPostIn">
    <wsdl:part name="strDNI" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FotoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesHttpPostIn">
    <wsdl:part name="dni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesRecursivoHttpPostIn">
    <wsdl:part name="dni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependientesRecursivoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependeDeHttpPostIn">
    <wsdl:part name="dni" type="s:string" />
    <wsdl:part name="dni2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UniformadosDependeDeHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Uniformado">
      <wsdl:input message="tns:UniformadoSoapIn" />
      <wsdl:output message="tns:UniformadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <wsdl:input message="tns:PersonaSoapIn" />
      <wsdl:output message="tns:PersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_like_Descrip_nombre">
      <wsdl:input message="tns:Unidades_OU_like_Descrip_nombreSoapIn" />
      <wsdl:output message="tns:Unidades_OU_like_Descrip_nombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_OT">
      <wsdl:input message="tns:UNIDADES_OTSoapIn" />
      <wsdl:output message="tns:UNIDADES_OTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GRADOS_OT">
      <wsdl:input message="tns:GRADOS_OTSoapIn" />
      <wsdl:output message="tns:GRADOS_OTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_COBRO_OT">
      <wsdl:input message="tns:UNIDADES_COBRO_OTSoapIn" />
      <wsdl:output message="tns:UNIDADES_COBRO_OTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU">
      <wsdl:input message="tns:Unidades_OUSoapIn" />
      <wsdl:output message="tns:Unidades_OUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_POR_ID">
      <wsdl:input message="tns:Unidades_OU_POR_IDSoapIn" />
      <wsdl:output message="tns:Unidades_OU_POR_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonalSeguro">
      <wsdl:input message="tns:PersonalSeguroSoapIn" />
      <wsdl:output message="tns:PersonalSeguroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto">
      <wsdl:input message="tns:UniformadocompletoSoapIn" />
      <wsdl:output message="tns:UniformadocompletoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadoConCivil">
      <wsdl:input message="tns:UniformadoConCivilSoapIn" />
      <wsdl:output message="tns:UniformadoConCivilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto2">
      <wsdl:input message="tns:Uniformadocompleto2SoapIn" />
      <wsdl:output message="tns:Uniformadocompleto2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE">
      <wsdl:input message="tns:Uniformadocompleto_CESoapIn" />
      <wsdl:output message="tns:Uniformadocompleto_CESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE_DNI">
      <wsdl:input message="tns:Uniformadocompleto_CE_DNISoapIn" />
      <wsdl:output message="tns:Uniformadocompleto_CE_DNISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_DOCUMENTO">
      <wsdl:input message="tns:Uniformadocompleto_DOCUMENTOSoapIn" />
      <wsdl:output message="tns:Uniformadocompleto_DOCUMENTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA">
      <wsdl:input message="tns:Uniformadocompleto_CADENASoapIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_COMPLETO">
      <wsdl:input message="tns:Uniformadocompleto_CADENA_COMPLETOSoapIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENA_COMPLETOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_DNI">
      <wsdl:input message="tns:Uniformadocompleto_CADENA_DNISoapIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENA_DNISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadocompletoLikeApeNom">
      <wsdl:input message="tns:UniformadocompletoLikeApeNomSoapIn" />
      <wsdl:output message="tns:UniformadocompletoLikeApeNomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_HC">
      <wsdl:input message="tns:WS_HCSoapIn" />
      <wsdl:output message="tns:WS_HCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Foto">
      <wsdl:input message="tns:FotoSoapIn" />
      <wsdl:output message="tns:FotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientes">
      <wsdl:input message="tns:UniformadosDependientesSoapIn" />
      <wsdl:output message="tns:UniformadosDependientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientesRecursivo">
      <wsdl:input message="tns:UniformadosDependientesRecursivoSoapIn" />
      <wsdl:output message="tns:UniformadosDependientesRecursivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependeDe">
      <wsdl:input message="tns:UniformadosDependeDeSoapIn" />
      <wsdl:output message="tns:UniformadosDependeDeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="Uniformado">
      <wsdl:input message="tns:UniformadoHttpGetIn" />
      <wsdl:output message="tns:UniformadoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <wsdl:input message="tns:PersonaHttpGetIn" />
      <wsdl:output message="tns:PersonaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_like_Descrip_nombre">
      <wsdl:input message="tns:Unidades_OU_like_Descrip_nombreHttpGetIn" />
      <wsdl:output message="tns:Unidades_OU_like_Descrip_nombreHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_OT">
      <wsdl:input message="tns:UNIDADES_OTHttpGetIn" />
      <wsdl:output message="tns:UNIDADES_OTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GRADOS_OT">
      <wsdl:input message="tns:GRADOS_OTHttpGetIn" />
      <wsdl:output message="tns:GRADOS_OTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_COBRO_OT">
      <wsdl:input message="tns:UNIDADES_COBRO_OTHttpGetIn" />
      <wsdl:output message="tns:UNIDADES_COBRO_OTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU">
      <wsdl:input message="tns:Unidades_OUHttpGetIn" />
      <wsdl:output message="tns:Unidades_OUHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_POR_ID">
      <wsdl:input message="tns:Unidades_OU_POR_IDHttpGetIn" />
      <wsdl:output message="tns:Unidades_OU_POR_IDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonalSeguro">
      <wsdl:input message="tns:PersonalSeguroHttpGetIn" />
      <wsdl:output message="tns:PersonalSeguroHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto">
      <wsdl:input message="tns:UniformadocompletoHttpGetIn" />
      <wsdl:output message="tns:UniformadocompletoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadoConCivil">
      <wsdl:input message="tns:UniformadoConCivilHttpGetIn" />
      <wsdl:output message="tns:UniformadoConCivilHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto2">
      <wsdl:input message="tns:Uniformadocompleto2HttpGetIn" />
      <wsdl:output message="tns:Uniformadocompleto2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE">
      <wsdl:input message="tns:Uniformadocompleto_CEHttpGetIn" />
      <wsdl:output message="tns:Uniformadocompleto_CEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE_DNI">
      <wsdl:input message="tns:Uniformadocompleto_CE_DNIHttpGetIn" />
      <wsdl:output message="tns:Uniformadocompleto_CE_DNIHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_DOCUMENTO">
      <wsdl:input message="tns:Uniformadocompleto_DOCUMENTOHttpGetIn" />
      <wsdl:output message="tns:Uniformadocompleto_DOCUMENTOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA">
      <wsdl:input message="tns:Uniformadocompleto_CADENAHttpGetIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_COMPLETO">
      <wsdl:input message="tns:Uniformadocompleto_CADENA_COMPLETOHttpGetIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENA_COMPLETOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_DNI">
      <wsdl:input message="tns:Uniformadocompleto_CADENA_DNIHttpGetIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENA_DNIHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadocompletoLikeApeNom">
      <wsdl:input message="tns:UniformadocompletoLikeApeNomHttpGetIn" />
      <wsdl:output message="tns:UniformadocompletoLikeApeNomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_HC">
      <wsdl:input message="tns:WS_HCHttpGetIn" />
      <wsdl:output message="tns:WS_HCHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Foto">
      <wsdl:input message="tns:FotoHttpGetIn" />
      <wsdl:output message="tns:FotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientes">
      <wsdl:input message="tns:UniformadosDependientesHttpGetIn" />
      <wsdl:output message="tns:UniformadosDependientesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientesRecursivo">
      <wsdl:input message="tns:UniformadosDependientesRecursivoHttpGetIn" />
      <wsdl:output message="tns:UniformadosDependientesRecursivoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependeDe">
      <wsdl:input message="tns:UniformadosDependeDeHttpGetIn" />
      <wsdl:output message="tns:UniformadosDependeDeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="Uniformado">
      <wsdl:input message="tns:UniformadoHttpPostIn" />
      <wsdl:output message="tns:UniformadoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <wsdl:input message="tns:PersonaHttpPostIn" />
      <wsdl:output message="tns:PersonaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_like_Descrip_nombre">
      <wsdl:input message="tns:Unidades_OU_like_Descrip_nombreHttpPostIn" />
      <wsdl:output message="tns:Unidades_OU_like_Descrip_nombreHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_OT">
      <wsdl:input message="tns:UNIDADES_OTHttpPostIn" />
      <wsdl:output message="tns:UNIDADES_OTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GRADOS_OT">
      <wsdl:input message="tns:GRADOS_OTHttpPostIn" />
      <wsdl:output message="tns:GRADOS_OTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_COBRO_OT">
      <wsdl:input message="tns:UNIDADES_COBRO_OTHttpPostIn" />
      <wsdl:output message="tns:UNIDADES_COBRO_OTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU">
      <wsdl:input message="tns:Unidades_OUHttpPostIn" />
      <wsdl:output message="tns:Unidades_OUHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_POR_ID">
      <wsdl:input message="tns:Unidades_OU_POR_IDHttpPostIn" />
      <wsdl:output message="tns:Unidades_OU_POR_IDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonalSeguro">
      <wsdl:input message="tns:PersonalSeguroHttpPostIn" />
      <wsdl:output message="tns:PersonalSeguroHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto">
      <wsdl:input message="tns:UniformadocompletoHttpPostIn" />
      <wsdl:output message="tns:UniformadocompletoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadoConCivil">
      <wsdl:input message="tns:UniformadoConCivilHttpPostIn" />
      <wsdl:output message="tns:UniformadoConCivilHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto2">
      <wsdl:input message="tns:Uniformadocompleto2HttpPostIn" />
      <wsdl:output message="tns:Uniformadocompleto2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE">
      <wsdl:input message="tns:Uniformadocompleto_CEHttpPostIn" />
      <wsdl:output message="tns:Uniformadocompleto_CEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE_DNI">
      <wsdl:input message="tns:Uniformadocompleto_CE_DNIHttpPostIn" />
      <wsdl:output message="tns:Uniformadocompleto_CE_DNIHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_DOCUMENTO">
      <wsdl:input message="tns:Uniformadocompleto_DOCUMENTOHttpPostIn" />
      <wsdl:output message="tns:Uniformadocompleto_DOCUMENTOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA">
      <wsdl:input message="tns:Uniformadocompleto_CADENAHttpPostIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_COMPLETO">
      <wsdl:input message="tns:Uniformadocompleto_CADENA_COMPLETOHttpPostIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENA_COMPLETOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_DNI">
      <wsdl:input message="tns:Uniformadocompleto_CADENA_DNIHttpPostIn" />
      <wsdl:output message="tns:Uniformadocompleto_CADENA_DNIHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadocompletoLikeApeNom">
      <wsdl:input message="tns:UniformadocompletoLikeApeNomHttpPostIn" />
      <wsdl:output message="tns:UniformadocompletoLikeApeNomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_HC">
      <wsdl:input message="tns:WS_HCHttpPostIn" />
      <wsdl:output message="tns:WS_HCHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Foto">
      <wsdl:input message="tns:FotoHttpPostIn" />
      <wsdl:output message="tns:FotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientes">
      <wsdl:input message="tns:UniformadosDependientesHttpPostIn" />
      <wsdl:output message="tns:UniformadosDependientesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientesRecursivo">
      <wsdl:input message="tns:UniformadosDependientesRecursivoHttpPostIn" />
      <wsdl:output message="tns:UniformadosDependientesRecursivoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependeDe">
      <wsdl:input message="tns:UniformadosDependeDeHttpPostIn" />
      <wsdl:output message="tns:UniformadosDependeDeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Uniformado">
      <soap:operation soapAction="http://gendarmeria.org/Uniformado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <soap:operation soapAction="http://gendarmeria.org/Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_like_Descrip_nombre">
      <soap:operation soapAction="http://gendarmeria.org/Unidades_OU_like_Descrip_nombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_OT">
      <soap:operation soapAction="http://gendarmeria.org/UNIDADES_OT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRADOS_OT">
      <soap:operation soapAction="http://gendarmeria.org/GRADOS_OT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_COBRO_OT">
      <soap:operation soapAction="http://gendarmeria.org/UNIDADES_COBRO_OT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU">
      <soap:operation soapAction="http://gendarmeria.org/Unidades_OU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_POR_ID">
      <soap:operation soapAction="http://gendarmeria.org/Unidades_OU_POR_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonalSeguro">
      <soap:operation soapAction="http://gendarmeria.org/PersonalSeguro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto">
      <soap:operation soapAction="http://gendarmeria.org/Uniformadocompleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadoConCivil">
      <soap:operation soapAction="http://gendarmeria.org/UniformadoConCivil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto2">
      <soap:operation soapAction="http://gendarmeria.org/Uniformadocompleto2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE">
      <soap:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE_DNI">
      <soap:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CE_DNI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_DOCUMENTO">
      <soap:operation soapAction="http://gendarmeria.org/Uniformadocompleto_DOCUMENTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA">
      <soap:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CADENA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_COMPLETO">
      <soap:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CADENA_COMPLETO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_DNI">
      <soap:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CADENA_DNI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadocompletoLikeApeNom">
      <soap:operation soapAction="http://gendarmeria.org/UniformadocompletoLikeApeNom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_HC">
      <soap:operation soapAction="http://gendarmeria.org/WS_HC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Foto">
      <soap:operation soapAction="http://gendarmeria.org/Foto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientes">
      <soap:operation soapAction="http://gendarmeria.org/UniformadosDependientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientesRecursivo">
      <soap:operation soapAction="http://gendarmeria.org/UniformadosDependientesRecursivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependeDe">
      <soap:operation soapAction="http://gendarmeria.org/UniformadosDependeDe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Uniformado">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <soap12:operation soapAction="http://gendarmeria.org/Persona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_like_Descrip_nombre">
      <soap12:operation soapAction="http://gendarmeria.org/Unidades_OU_like_Descrip_nombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_OT">
      <soap12:operation soapAction="http://gendarmeria.org/UNIDADES_OT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRADOS_OT">
      <soap12:operation soapAction="http://gendarmeria.org/GRADOS_OT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_COBRO_OT">
      <soap12:operation soapAction="http://gendarmeria.org/UNIDADES_COBRO_OT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU">
      <soap12:operation soapAction="http://gendarmeria.org/Unidades_OU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_POR_ID">
      <soap12:operation soapAction="http://gendarmeria.org/Unidades_OU_POR_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonalSeguro">
      <soap12:operation soapAction="http://gendarmeria.org/PersonalSeguro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformadocompleto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadoConCivil">
      <soap12:operation soapAction="http://gendarmeria.org/UniformadoConCivil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto2">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformadocompleto2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE_DNI">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CE_DNI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_DOCUMENTO">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformadocompleto_DOCUMENTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CADENA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_COMPLETO">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CADENA_COMPLETO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_DNI">
      <soap12:operation soapAction="http://gendarmeria.org/Uniformadocompleto_CADENA_DNI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadocompletoLikeApeNom">
      <soap12:operation soapAction="http://gendarmeria.org/UniformadocompletoLikeApeNom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_HC">
      <soap12:operation soapAction="http://gendarmeria.org/WS_HC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Foto">
      <soap12:operation soapAction="http://gendarmeria.org/Foto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientes">
      <soap12:operation soapAction="http://gendarmeria.org/UniformadosDependientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientesRecursivo">
      <soap12:operation soapAction="http://gendarmeria.org/UniformadosDependientesRecursivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependeDe">
      <soap12:operation soapAction="http://gendarmeria.org/UniformadosDependeDe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Uniformado">
      <http:operation location="/Uniformado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <http:operation location="/Persona" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_like_Descrip_nombre">
      <http:operation location="/Unidades_OU_like_Descrip_nombre" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_OT">
      <http:operation location="/UNIDADES_OT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRADOS_OT">
      <http:operation location="/GRADOS_OT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_COBRO_OT">
      <http:operation location="/UNIDADES_COBRO_OT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU">
      <http:operation location="/Unidades_OU" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_POR_ID">
      <http:operation location="/Unidades_OU_POR_ID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonalSeguro">
      <http:operation location="/PersonalSeguro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto">
      <http:operation location="/Uniformadocompleto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadoConCivil">
      <http:operation location="/UniformadoConCivil" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto2">
      <http:operation location="/Uniformadocompleto2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE">
      <http:operation location="/Uniformadocompleto_CE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE_DNI">
      <http:operation location="/Uniformadocompleto_CE_DNI" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_DOCUMENTO">
      <http:operation location="/Uniformadocompleto_DOCUMENTO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA">
      <http:operation location="/Uniformadocompleto_CADENA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_COMPLETO">
      <http:operation location="/Uniformadocompleto_CADENA_COMPLETO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_DNI">
      <http:operation location="/Uniformadocompleto_CADENA_DNI" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadocompletoLikeApeNom">
      <http:operation location="/UniformadocompletoLikeApeNom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_HC">
      <http:operation location="/WS_HC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Foto">
      <http:operation location="/Foto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientes">
      <http:operation location="/UniformadosDependientes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientesRecursivo">
      <http:operation location="/UniformadosDependientesRecursivo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependeDe">
      <http:operation location="/UniformadosDependeDe" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Uniformado">
      <http:operation location="/Uniformado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <http:operation location="/Persona" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_like_Descrip_nombre">
      <http:operation location="/Unidades_OU_like_Descrip_nombre" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_OT">
      <http:operation location="/UNIDADES_OT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRADOS_OT">
      <http:operation location="/GRADOS_OT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNIDADES_COBRO_OT">
      <http:operation location="/UNIDADES_COBRO_OT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU">
      <http:operation location="/Unidades_OU" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unidades_OU_POR_ID">
      <http:operation location="/Unidades_OU_POR_ID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonalSeguro">
      <http:operation location="/PersonalSeguro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto">
      <http:operation location="/Uniformadocompleto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadoConCivil">
      <http:operation location="/UniformadoConCivil" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto2">
      <http:operation location="/Uniformadocompleto2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE">
      <http:operation location="/Uniformadocompleto_CE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CE_DNI">
      <http:operation location="/Uniformadocompleto_CE_DNI" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_DOCUMENTO">
      <http:operation location="/Uniformadocompleto_DOCUMENTO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA">
      <http:operation location="/Uniformadocompleto_CADENA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_COMPLETO">
      <http:operation location="/Uniformadocompleto_CADENA_COMPLETO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uniformadocompleto_CADENA_DNI">
      <http:operation location="/Uniformadocompleto_CADENA_DNI" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadocompletoLikeApeNom">
      <http:operation location="/UniformadocompletoLikeApeNom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_HC">
      <http:operation location="/WS_HC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Foto">
      <http:operation location="/Foto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientes">
      <http:operation location="/UniformadosDependientes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependientesRecursivo">
      <http:operation location="/UniformadosDependientesRecursivo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniformadosDependeDe">
      <http:operation location="/UniformadosDependeDe" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.90.1.20/WS_PERSONAL/SERVICE.ASMX" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.90.1.20/WS_PERSONAL/SERVICE.ASMX" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://10.90.1.20/WS_PERSONAL/SERVICE.ASMX" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://10.90.1.20/WS_PERSONAL/SERVICE.ASMX" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>